Repository brysonbw/ycstartupmap.com, changes with the labels that .github/labeler.yml gives for each.
All labels: pr::docs, pr::code, pr::types, pr::cesium, pr::changeset, pr::config, pr::vite, pr::tests, pr::github, pr::ci

Fix for failing CI
  src/stores/app.ts
Labels: pr::code

Fix routing issue causing inconsistent loading
  .changeset/grumpy-cities-double.md
  index.html
  package-lock.json
  package.json
  src/app.ts
  src/cesium/cesium-viewer.ts
  src/pages/tests/webgl-error.ts
  src/pages/webgl-error.ts
  src/routes.ts
Labels: pr::code, pr::changeset, pr::config

Bump deps
  package-lock.json
  package.json
Labels: none

Fix routing issue causing inconsistent app loading (#5)
  .changeset/grumpy-cities-double.md
  index.html
  package-lock.json
  package.json
  src/app.ts
  src/cesium/cesium-viewer.ts
  src/pages/tests/webgl-error.ts
  src/pages/webgl-error.ts
  src/routes.ts
Labels: pr::code, pr::changeset, pr::config

Fix typo
  SECURITY.md
Labels: pr::docs

Bump deps
  package-lock.json
  package.json
Labels: none

Edit PR Validation/Checks workflow
  .github/workflows/pr-validation-checks.yml
Labels: pr::github

Misc changes (#9)
  .github/workflows/pr-validation-checks.yml
  SECURITY.md
  package-lock.json
  package.json
Labels: pr::docs, pr::github

Bump deps
  package-lock.json
  package.json
Labels: none

Bump deps (#14)
  package-lock.json
  package.json
Labels: none

Add cesium-overlay element
  src/cesium/cesium-overlay.ts
  src/cesium/cesium-viewer.ts
  src/cesium/styles/cesiumOverlayStyles.ts
Labels: pr::code

Add jsDoc comment
  src/cesium/styles/cesiumOverlayStyles.ts
Labels: pr::code

Add cesium overlay element (#15)
  src/cesium/cesium-overlay.ts
  src/cesium/cesium-viewer.ts
  src/cesium/styles/cesiumOverlayStyles.ts
Labels: pr::code

Add cesium entity detail popover element
  src/cesium/cesium-entity-detail-popover.ts
  src/cesium/cesium-viewer.ts
  src/cesium/styles/cesiumEntityDetailPopoverStyles.ts
  src/pages/home.ts
  src/utils/constants.ts
Labels: pr::code

Add cesiumFunctions to utils
  src/utils/cesiumFunctions.ts
Labels: pr::code

Add changeset
  .changeset/salty-clocks-fix.md
Labels: pr::changeset, pr::config

Add cesium entity detail popover element (#16)
  .changeset/salty-clocks-fix.md
  src/cesium/cesium-entity-detail-popover.ts
  src/cesium/cesium-viewer.ts
  src/cesium/styles/cesiumEntityDetailPopoverStyles.ts
  src/pages/home.ts
  src/utils/cesiumFunctions.ts
  src/utils/constants.ts
Labels: pr::code, pr::changeset, pr::config

Update node version in workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  package.json
Labels: pr::github

Remove v26
  .github/workflows/ci.yml
Labels: pr::github

Update node version in workflows (#18)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release-pr.yml
  package.json
Labels: pr::github

chore(release): v0.1.0
  .changeset/grumpy-cities-double.md
  .changeset/salty-clocks-fix.md
  .changeset/salty-coats-shine.md
  CHANGELOG.md
  package.json
Labels: pr::docs, pr::changeset, pr::config

Update publish workflow
  .github/workflows/publish.yml
Labels: pr::github

Replace text
  .github/workflows/publish.yml
Labels: pr::github

Remove changeset publish script
  package.json
Labels: none

Update publish workflow (#20)
  .github/workflows/publish.yml
  package.json
Labels: pr::github

Remove publish workflow
  .github/workflows/publish.yml
Labels: pr::github

Remove publish workflow (#21)
  .github/workflows/publish.yml
Labels: pr::github

chore(deps): bump deps
  package-lock.json
  package.json
Labels: none

chore(deps): bump deps (#35)
  package-lock.json
  package.json
Labels: none

feat(workflows): add pr-changeset-check workflow
  .github/workflows/pr-changeset-check.yml
  .github/workflows/pr-validation-checks.yml
Labels: pr::github

feat(workflows): add pr-changeset-check workflow (#39)
  .github/workflows/pr-changeset-check.yml
  .github/workflows/pr-validation-checks.yml
Labels: pr::github

.github/labeler.yml:

'pr::docs':
  - changed-files:
      - any-glob-to-any-file: '**.md'

'pr::code':
  - changed-files:
      - any-glob-to-any-file: ['src/**/*.js', 'src/**/*.ts']

'pr::types':
  - changed-files:
      - any-glob-to-any-file: ['src/types/**/*.ts']

'pr::cesium':
  - changed-files:
      - any-glob-to-any-file:
          ['src/components/cesium/**', 'src/assets/img/**', 'src/data/**']

'pr::changeset':
  - changed-files:
      - any-glob-to-any-file: ['.changeset/**']

'pr::config':
  - changed-files:
      - any-glob-to-any-file:
          [
            'eslint.config.js',
            '.prettierrc.json',
            '.prettierignore',
            'vite-end.d.ts',
            '.npmrc',
            '.gitignore',
            '.changeset/**',
          ]

'pr::vite':
  - changed-files:
      - any-glob-to-any-file: ['vite-end.d.ts', 'vite.config.js']

'pr::tests':
  - changed-files:
      - any-glob-to-any-file:
          [
            'tests/**.js',
            'tests/**.ts',
            '**/*.test.js',
            '**/*.test.ts',
            'src/testing/**',
          ]

'pr::github':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'pr::ci':
  - changed-files:
      - any-glob-to-any-file: ['tsconfig.json', 'vite.config.js']

'pr::feature':
  - head-branch: ['feature', 'feat', 'enhancement', 'add']

'pr::patch':
  - head-branch: ['update', 'edit']

'pr::fix':
  - head-branch: ['fix', 'bug']
